/*About page*/

.aboutSection {
    margin: 0px 6% 0px 6%;
}

.aboutBanner {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 43px;

    img {
        height: 223px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        object-position: 50% 45%;
        filter: brightness(70%);
    }

}

@media (max-width: 768px) {
    .aboutBanner {

        img {
            min-width: 223px;
            border-radius: 10px;
        }
    }
}

/*Accordion menu*/
.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-item {
    width: 80%;
    margin-bottom: 31px;
    position: relative;
}

.accordion-title {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 15px 9px 15px;
    width: 100%;
    cursor: pointer;

    img {
        width: 16px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    * {
        color: white;
        font-size: 24px;
        font-weight: 400;
    }
}

.arrow-up {
    transform: rotate(0deg);
    transition: 0.3s;
}

.arrow-down {
    transform: rotate(180deg);
    transition: 0.3s;
}

.accordion-content {
    padding: 20px 15px 9px 15px;
    position: relative;
    width: 100%;
    top: -10px;
    z-index: -1;
    background-color: $secondary;
    color: $primary;
    font-size: 24px;
    font-weight: 200;
}