/*About page*/
.aboutSection {
    margin: 0px 6% 0px 6%;
}

.aboutBanner {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 31px;

    img {
        height: 223px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        object-position: 50% 45%;
        filter: brightness(70%);
    }

}

@media (max-width: 768px) {
    .aboutBanner {

        img {
            min-width: 223px;
            border-radius: 10px;
        }
    }
}