/* Rate */

.blankStar,
.filledStar {
    width: 36px;
    height: 36px;
    margin-top: 12px;
}

@media (max-width: 768px) {

    .blankStar,
    .filledStar {
        width: 18px;
        height: 18px;
        margin-top: 4px;
    }
}