/* House */

.globalInformations {
    display: flex;
    justify-content: space-between;
}

.primaryInformations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.secondaryInformations {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.houseTitles {
    margin-right: 20px;

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $primary;
    }

    h2 {
        font-size: 18px;
        color: $primary;
        font-weight: 500;
    }
}


.logement {
    margin: 0px 6% 0px 6%;
}

.host {
    display: flex;
    align-items: center;

    .hostName {
        margin-right: 10px;
    }

    .hostPicture {
        overflow: hidden;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    img {
        object-fit: cover;
        width: 100%;
    }

    * {
        color: $primary;
        text-align: right;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 4%;

    .accordion-item {
        width: 100%;
    }

    .description,
    .equipments {
        width: 46%;
    }

    .accordion-content {
        list-style: none;
    }
}

@media (max-width: 768px) {

    .houseTitles {
        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 14px;
        }
    }


}