/* House */

.globalInformations {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.primaryInformations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.secondaryInformations {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 180px;
}

.houseTitles {
    margin-right: 20px;

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $primary;
    }

    h2 {
        font-size: 18px;
        color: $primary;
        font-weight: 500;
    }
}


.logement {
    margin: 0px 6% 0px 6%;
}

.host {
    display: flex;
    align-items: center;

    * {
        font-size: 18px;
        font-weight: 500;
    }

    .hostName {
        margin-right: 10px;
    }

    .hostPicture {
        overflow: hidden;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    img {
        object-fit: cover;
        width: 100%;
    }

    * {
        color: $primary;
        text-align: right;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 4%;

    .accordion-item {
        width: 100%;
    }

    .description,
    .equipments {
        width: 46%;
    }

    .accordion-content {
        list-style: none;
    }
}

@media (max-width: 768px) {

    .logement {
        margin: 0px 20px 0px 20px;
    }

    .houseTitles {
        margin-right: 0px;

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 14px;
            margin-top: 5px;
        }
    }

    .host {
        * {
            font-size: 12px;
            font-weight: 500;
        }

        .hostPicture {
            width: 32px;
            height: 32px;
        }
    }

    .globalInformations {
        flex-direction: column;
    }

    .secondaryInformations {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .content {
        flex-direction: column;

        .description,
        .equipments {
            width: 100%;
        }
    }
}